/public_mm_lite/data/ivf/
/metamap_install_files/public_mm_data_lite_usabase_2022aa.zip
/metamap_install_files/public_mm_data_lite_usabase_2022ab.zip
/metamap_install_files/public_mm_lite_3.6.2rc8_binaryonly.zip
